@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
    width: 24px;
    height: 24px;
}

@media (min-width: 1024px) {
    .icon {
        width: 32px;
        height: 32px;
    }
}

@media (min-width: 1280px) {
    .icon {
        width: 48px;
        height: 48px;
    }
}

html, body {
    min-height: 100vh;
    background-color: #FAF2E7;
}